<div class="small-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>Rough estimations</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center padd-top padd-bot">
            <h2>We want to hear from You!</h2>
            <p class="subtitle">Whether you want to work with us, ask a question (we always answer), or just say hello, we'd love to hear from
                you.
                <br> If this form is overkill, give us a shout on Twitter instead (
                <a href="">@some_handle</a>).</p>
        </div>
    </div>
    <!-- Services -->
    <div class="card-container text-center padd-bot padd-top">
        <div class="heading">
            <h4>How big is your project?</h4>
        </div>
        <div class="row padd-top padd-bot">
            <!-- App size -->
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Small">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Medium">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Big">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <!-- //App size -->
        </div>

        <div class="heading">
            <h4>UI/UX Design?</h4>
        </div>
        <div class="row padd-top padd-bot">
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Proof of concept">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Basic">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Full UI/UX Design">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
        </div>

        <div class="heading">
            <h4>Users and Accounts?</h4>
        </div>
        <div class="row padd-top padd-bot">
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Basic User Sign-up">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Facebook Sign-up/Sign-in">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Google Sign-up/Sign-in">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="LinkedIn Sign-up/Sign-in">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Twitter Sign-up/Sign-in">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="GitHub Sign-up/Sign-in">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Email Invites">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Multi-Tenant Accounts">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
        </div>

        <div class="heading">
            <h4>Users and Content?</h4>
        </div>
        <div class="row padd-top padd-bot">
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Dashboard Backend">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Feeds and Notifications">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="File Uploading">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Tags">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Ratings">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Audio/Video Processing">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
            <div class="col-md-4">
                <span matTooltipPosition='above' matTooltip="Free Text Search">
                    <img class="circle w-100" src="http://placehold.it/150x150" alt="item">
                </span>
            </div>
        </div>
        <!-- //Services -->
        <hr style="width: 50%">
        <div style="text-align: left" class="col-md-10 padd-top padd-bot">
            <h4 class="title">Total Cost:
                <span id="total">0</span>€</h4>
            <small class="label">Based on Fubar Digial rates <br></small>
            <small class="label">Please note, this is intended to be a rough estimation of development costs and timescales and exclude all hosting
                costs, paid services or purchased assets of any kind. All prices are in EUR and include taxes.</small>
        </div>
    </div>
</div>