.small-hero{
    background: #95afc0;
    height: 20vh;
   
    text-align: center;
    color: #fff;
}

.small-hero h3{
    font-family: 'Roboto Mono', monospace;
    padding-top: 8vh;
    color: #fff;
}
.contact{
    background: #fff;
}
.contact form{
    padding-top: 80px;
    padding-bottom: 50px;
}
.contact-form{
    width: 100%;
}
.full-width{
    width:100%;
}
.spinner{
    display: flex;
    align-items: center;
    justify-content: center;
}
