<mat-sidenav-container (backdropClick)="close('backdrop')">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
        <div class="logo-container text-center">
            <img (click)="close()" routerLink='/' src="../assets/f_logo.svg" alt="">
        </div>

        <button (click)="close()" routerLink='about-us' mat-menu-item>
            <span>About Us</span>
        </button>

        <button (click)="close()" routerLink='working-with-us' mat-menu-item>
            <span>Working with Us</span>
        </button>

        <button (click)="close()" routerLink='#' mat-menu-item>
            <span>Services</span>
        </button>

        <button id="warn" (click)="close()" color="warn" routerLink='#' mat-menu-item>
            Pro Bono Work
        </button>

        <button (click)="close()" routerLink='contact' mat-menu-item>
            <span>Contact</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.open()">
                    <mat-icon aria-label="menu">menu</mat-icon>
                </button>
                <img routerLink="/" class="logo" src="../../../assets/f_w_logo.png" alt="Fubar Digital">
                <button routerLink="/cost-estimation" mat-button>COST ESTIMATOR</button>

                <span class="spacer"></span>
                <button *ngIf="!(authService.user | async)" routerLink="lemein" mat-button>LOG IN</button>

                <button *ngIf="(authService.user | async)" id="foo" mat-button [matMenuTriggerFor]="menuUser">
                    <div class="mask text-center">
                        <img style="height:100%;" src="{{userPhotoURL}}" alt="">
                    </div>
                </button>
                <mat-menu id="profile-pannel" #menuUser="matMenu">

                    <button mat-menu-item>
                        <mat-icon>face</mat-icon>
                        <span>PROFILE</span>
                    </button>

                    <button routerLink="add-post" mat-menu-item>
                        <mat-icon>text_fields</mat-icon>
                        <span>ADD POST</span>
                    </button>

                    <button (click)=logout() mat-menu-item>
                        <mat-icon>lock</mat-icon>
                        <span>LOG OUT</span>
                    </button>

                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>