<mat-sidenav-container (backdropClick)="close()">
    <mat-sidenav #sidenav (keydown.escape)="close()" disableClose>
        <div class="logo-container text-center">
            <img (click)="close()" routerLink='/' src="../assets/f_logo.svg" alt="">
        </div>

        <button (click)="close()" routerLink='about-us' mat-menu-item>
            <span>About Us</span>
        </button>

        <button (click)="close()" routerLink='working-with-us' mat-menu-item>
            <span>Working with Us</span>
        </button>

        <button (click)="close()" routerLink='services' mat-menu-item>
            <span>Services</span>
        </button>

        <button id="warn" (click)="close()" color="warn" routerLink='#' mat-menu-item>
            Pro Bono Work
        </button>

        <button (click)="close()" routerLink='contact' mat-menu-item>
            <span>Contact</span>
        </button>

    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <mat-toolbar-row>
                <button mat-icon-button (click)="sidenav.open()">
                    <mat-icon aria-label="menu">menu</mat-icon>
                </button>
                <img routerLink="/" class="logo" src="../../../assets/f_w_logo.png" alt="Fubar Digital">
                <button routerLink="/cost-estimation" mat-button>COST ESTIMATOR</button>

                <span class="spacer"></span>
                <fa name="github"></fa>

                <mat-menu id="profile-pannel" #menuUser="matMenu">        
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>