<docs-header [currentPage]="pageName"></docs-header>
<div class="white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h1 id="normal">Expect to be involved</h1>
                    <p>In order to build your idea for it's proper target audience, we require all our clients
                        <br>to be involved throughout the pre-development process. </p>
                </div>
            </div>
        </div>
        <div class="row padd-top-50 padd-bot-100 text-center">
            <div class="col-md-3">
                <span matTooltipPosition='below' matTooltip="Information Gathering">
                    <img (click)=info() class="circle" src="../../../assets/services/info.jpg" alt="Information Gathering">
                </span>
            </div>
            <div class="col-md-3">
                <span matTooltipPosition='below' matTooltip="Planning">
                    <img (click)=planning() class="circle" src="../../../assets/services/planning.jpg" alt="Planning">
                </span>
            </div>
            <div class="col-md-3">
                <span matTooltipPosition='below' matTooltip="Design">
                    <img (click)=design() class="circle" src="../../../assets/services/design.jpg" alt="Design">
                </span>
            </div>
            <div class="col-md-3">
                <span matTooltipPosition='below' matTooltip="Tooling & Resources">
                    <img (click)=tooling() class="circle" src="../../../assets/services/tooling.jpg" alt="Tooling">
                </span>
            </div>
        </div>
    </div>
    <div class="grey">
        <div class="container information">
            <div class="row padd-top padd-bot min-300">
                <div class="col-md-6">
                    <div class="text-center">
                        <img class="sect-img" src="../../../assets/services/info-section.png" alt="Information Gathering">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vertical">
                        <h2>Information Gathering</h2>
                        <p>This first step is actually the most important one. It involves a solid understanding of the company
                            it is created for. It involves a good understanding of you – what your business goals and dreams
                            are, and how we can help you achieve these goals.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-grey">
        <div class="container planning">
            <div class="row min-300">
                <div class="col-md-6">
                    <div class="vertical">
                        <h2>Planning</h2>
                        <p>The end-user of your website or app – aka your customer – must be kept in mind during the entire
                            planning phase. These are, after all, the people who will be learning about your service or buying
                            your product.
                        </p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img class="sect-img" src="../../../assets/services/planning-section.png" alt="Information Gathering">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grey">
        <div class="container design">
            <div class="row padd-top padd-bot min-300">
                <div class="col-md-6">
                    <div class="text-center">
                        <img class="sect-img" src="../../../assets/services/design-section.png" alt="Information Gathering">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="vertical">
                        <h2>Design</h2>
                        <p>In this phase communication between both you and your designer is crucial. This stage is meant to
                            ensure the final product will match your needs and taste. It’s very important to work closely
                            with your designer, exchanging ideas, giving feedback and collaborating with each other until
                            you both agree upon the final design of your website or app.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dark-grey">
        <div class="container tooling">
            <div class="row min-300">
                <div class="col-md-6">
                    <div class="vertical">
                        <h2>Tooling and resources</h2>
                        <p>In the execution phase we will give your website a dedicated slot on our development server and assign
                            you to a project manager. Depending on your time-to-market (the time you decide to go live),
                            you will also have at least one full-time programmer and a designer. Throughout the execution,
                            you will be able to check the progress of your website/ app using our milestone and issue tracker.
                        </p>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="text-center">
                        <img class="sect-img" src="../../../assets/services/tooling-section.png" alt="Information Gathering">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="estimator min-200">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Okay, but how much?</h1>
                    <p>If you want a rough estimate of what your project is going to cost, then check out our dedicated estimation tool. </p>
                    <div class="padd-top padd-bot">
                        <button routerLink="/cost-estimation" mat-raised-button>Use the Estimation Tool</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-social></app-social>