<!-- Main hero image TODO: REFCTOR! -->
<div class="hero">
    <div class="container">
        <div class="row padd-top">
            <div class="col-md-6 vert-copy">
                <h1 id="main">Building for the Web!</h1>
                <h3 id="main">Websites, web apps and mobile apps</h3>
            </div>
            <div class="col-md-6">
                <img class="vert img-fluid" src="../../../assets/laptop.png" alt="Laptop">
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col-md-6 vert-copy">
            <h1 id="main">Building for the Web!</h1>
            <h3 id="main">Websites, web apps and mobile apps</h3>
        </div>
        <div class="col-md-6">
            <img class="vert img-fluid" src="../../../assets/laptop.png" alt="Laptop">
        </div>
    </div> -->
</div>
<!-- // Main hero image -->

<!-- Links section -->
<div class="links">
    <ul>
        <li>
            <mat-icon>chevron_right</mat-icon> Working with us</li>
        <li>
            <mat-icon>chevron_right</mat-icon> Development</li>
        <li>
            <mat-icon>chevron_right</mat-icon> Marketing Services</li>
    </ul>
</div>
<!-- // Links section -->

<!-- Web and mobile Solutions -->
<div id="gray">
    <div class="container">
        <div class="row padd-top">
            <div class="col-md-6">
                <div class="vertical">
                    <h2>Advanced Web and Mobile solutions</h2>
                    <p>360° servicing, covering all aspects of production, marketing and implementation!</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/adv_web_mob.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- // Web and mobile Solutions -->


<!-- Social Media and Marketing -->
<div id="dark">
    <div class="container">
        <div class="row padd-top">
            <div class="col-md-6">
                <img src="../../../assets/social.png" alt="" class="img-fluid">
            </div>
            <div class="col-md-6">
                <div class="vertical">
                    <h2>Social Media manangement and advertising.</h2>
                    <p>People buy from people, are attracted to tailor-made stories and really enjoy a genuine experience. Starting
                        with copywriting, content writing, customized digital strategies up to social media.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- // Social Media and Marketing -->


<!-- Blog -->
<div id="gray">
    <div class="container">
        <div class="row padd-top padd-bot">
            <div class="col-md-12">
                <div style="text-align: center" class="title">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Moar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Moar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card">
                    <img mat-card-image src="http://via.placeholder.com/350x150" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                        <p>
                            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-button>Moar</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<!-- // Blog -->


<!-- Stack -->
<div id="white">
    <div class="container">
        <div class="row padd-top padd-bot">
            <div class="col-md-12">
                <div style="text-align: center" class="title">
                    <h2>Tech we like to use</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span matTooltipPosition='above' matTooltip="Laravel">
                    <img class="stack-image" src="../../../assets/laravel.png" alt="stack">
                </span>
            </div>
            <div class="col-md-2">
                <span matTooltipPosition='above' matTooltip="Vue js">
                    <img class="stack-image" src="../../../assets/vue.png" alt="stack">
                </span>
            </div>
            <div class="col-md-2">
                <span matTooltipPosition='above' matTooltip="Angular js">
                    <img class="stack-image" src="../../../assets/angular.png" alt="stack">
                </span>
            </div>
            <div class="col-md-2">
                <span matTooltipPosition='above' matTooltip="Twitter Bootstrap">
                    <img class="stack-image" src="../../../assets/bootstrap.png" alt="stack">
                </span>
            </div>
            <div class="col-md-2">
                <span matTooltipPosition='above' matTooltip="Materialize Css">
                    <img class="stack-image" src="../../../assets/materialize.png" alt="stack">
                </span>
            </div>
            <div class="col-md-2">
                <span matTooltipPosition='above' matTooltip="We Love Linux!">
                    <img class="stack-image" src="../../../assets/linux.png" alt="stack">
                </span>
            </div>
        </div>
    </div>
</div>
<!-- // Stack -->
<app-social></app-social>