<docs-header [currentPage]=pageName></docs-header>
<div class="grey">
    <div class="container">
        <div class="row padd-top">
            <div class="col-md-12 text-center">
                <img class="circle hero" src="../../../assets/about/Untitled-1.png" alt="">
                <h2>Bacon ipsum dolor amet</h2>
                <p>ball tip cupim kevin venison. Ball tip cow shank, jerky salami flank buffalo chicken fatback picanha drumstick
                    <br> frankfurter beef pork chop swine. Cupim pork loin hamburger bacon shankle beef ribs kevin boudin bresaola
                    buffalo pork pig prosciutto ham hock.</p>
            </div>
        </div>
        <div class="row padd-top padd-bot text-center">
            <div class="col-md-12">
                <mat-card>
                    Our Mission
                    <mat-card-content>
                        Ham frankfurter ribeye pork loin tongue leberkas jerky chuck. Capicola cow corned beef, fatback
                        <br> buffalo beef flank short loin jowl kielbasa turducken meatball frankfurter kevin salami.
                        <div class="cta">
                            <button (click)=goToJobs() mat-raised-button color="primary">Join us</button>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<div class="dark-grey">
    <div class="container">
        <div class="row padd-bot padd-top">
            <div class="col-md-12 text-center">
                <h2>Skills</h2>
            </div>
        </div>
        <div class="row padd-bot">
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/web-dev.png" alt="Web Development">
                    <mat-card-content>
                        <h4>Web Development</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/hybrid-dev.png" alt="Hybrid Mobile Development">
                    <mat-card-content>
                        <h4>Hybrid Mobile Development</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/marketing.png" alt="Marketing">
                    <mat-card-content>
                        <h4>Marketing</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/social-media.png" alt="Social Media Management">
                    <mat-card-content>
                        <h4>Social Media Management</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/ads-ppc.png" alt="Ads & PPC Marketing">
                    <mat-card-content>
                        <h4>Ads & PPC Marketing</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/copywriting.png" alt="Copywriting">
                    <mat-card-content>
                        <h4>Copywriting</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/web-design.png" alt="Web & Mobile Design">
                    <mat-card-content>
                        <h4>Web & Mobile Design</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/content.png" alt="Content Writing">
                    <mat-card-content>
                        <h4>Content Writing</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-md-4">
                <mat-card class="example-card text-center">
                    <img mat-card-image class="skill" src="../../../assets/about/digital-strategy.png" alt="Digital strategy">
                    <mat-card-content>
                        <h4>Digital strategy</h4>
                        <p>Capicola cow corned beef, fatback buffalo beef flank short loin jowl kielbasa turducken meatball
                            frankfurter kevin salami.</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>
