<!-- Author info -->
<div class="container">
    <div class="row padd-top padd-bot">
        <div class="col-md-12">
            <img src="http://placehold.it/300x300" alt="" class="circle avatar">
            <div class="author-info">
                <p>John Doe</p>
                <p id="auth-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic officiis dignissimos omnis veniam sit sapiente
                    quis voluptate quasi, dolore facilis fugit commodi, porro, in vero iste atque nostrum corporis voluptas.</p>
            </div>
        </div>
    </div>
</div>
<!-- Article title cover -->
<div class="cover">
    <div class="row">
        <div class="col-md-12 cover">
            <h1 class="title text-center">JavaScript ES6 — write less, do more</h1>
            <img class="img-fluid" src="http://placehold.it/1920x900" alt="">
        </div>
    </div>
</div>
<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-md-10 offset-1 content">
            <p>Lorem ipsum dolor sit amet consectetur <code>adipisicing</code> elit. Necessitatibus perspiciatis eveniet, quae tenetur accusantium
                debitis illum cumque ratione asperiores dolore accusamus quo labore! Quasi laboriosam officiis, deleniti
                a quis repudiandae? Maxime illo porro, nam obcaecati ut, cum dignissimos exercitationem numquam, praesentium
                dicta esse atque officiis. Possimus laudantium libero perferendis ea numquam nisi dolorem rerum maxime. Doloremque
                nostrum eveniet accusantium accusamus? Inventore voluptatum fugit maxime? Dolore eos aspernatur tenetur sapiente
                optio mollitia quis, reprehenderit perspiciatis iure minima temporibus quas culpa voluptates, est, accusantium
                magnam provident assumenda atque officia ipsum incidunt. Quia!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perspiciatis eveniet, quae tenetur accusantium
                debitis illum cumque ratione asperiores dolore accusamus quo labore! Quasi laboriosam officiis, deleniti
                a quis repudiandae? Maxime illo porro, nam obcaecati ut, cum dignissimos exercitationem numquam, praesentium
                dicta esse atque officiis. Possimus laudantium libero perferendis ea numquam nisi dolorem rerum maxime. Doloremque
                nostrum eveniet accusantium accusamus? Inventore voluptatum fugit maxime? Dolore eos aspernatur tenetur sapiente
                optio mollitia quis, reprehenderit perspiciatis iure minima temporibus quas culpa voluptates, est, accusantium
                magnam provident assumenda atque officia ipsum incidunt. Quia!</p>
        </div>
    </div>
</div>