<div id="footer">
    <div class="container">
        <div class="row padd-bot">
            <div class="col-md-3">
                <ul>
                    <li>Useful links</li>
                    <li> About Us</li>
                    <li> Working with Us</li>
                    <li> Services</li>
                    <li> Pro Bono Work</li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul>
                    <li>Useful links</li>
                    <li> Jobs</li>
                    <li> Legal stuff</li>
                    <li> Item 3</li>
                </ul>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <hr>
    <p class="copy">&copy; FubarDigital. All rights reserved!</p>
</div>