#footer{
    /* background: #708792; */
    background: #3F51B5;
    padding: 50px 0;
    color: #fff;
}

#footer ul>li{
    list-style: none;
    padding: 8px;
    font-size: 14px;
}
#footer ul>li:nth-child(1){
    border-bottom: 1px solid white;
}
.foot-logo{
    max-width: 40px; 
}
#footer p {
    color:#fff;
}
.copy{
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
hr{
    width: 40%
}