
<div id="social">
    <hr width="50%">
    <h3 class="padd-top" style="text-align: center;">Find us on Social Media</h3>
    <div class="container">
        <div class="row padd-top-lg">
            <div class="col-md-4">
                <img class="social-icon" src="../../../assets/facebook.svg" alt="Facebook" />
                <p>Find us on Facebook</p>
            </div>
            <div class="col-md-4">
                <img class="social-icon" src="../../../assets/twitter.svg" alt="Twitter" />
                <p>Follow us on Twitter</p>
            </div>
            <div class="col-md-4">
                <img class="social-icon" src="../../../assets/google-plus.svg" alt="Google Plus" />
                <p>Somehow Google + still exists</p>
            </div>
        </div>
    </div>
</div>